{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Shopy/css/main.css'%}">
    <link rel="stylesheet" href="{% static 'Shopy/css/index_info.css'%}">
    <script src="{% static 'Shopy/js/card.js'%}"> </script>
    <title>Menu</title>
</head>
<body>

    {% include "navbar.html" %}

    <div class="container-fluid">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                
          <div class="carousel-inner">
      
            <div class="carousel-item active">
              <img src="{% static 'Shopy/img/Carusel/Carusel1.png'%}" class="d-block cr_height" alt="..." >
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel2.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel3.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel4.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel5.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy\img\Carusel\Carusel6.png' %}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel7.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel8.png'%}" class="d-block cr_height" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    
        </div>
      </div>
    
    

      <section data-testid="site-shopping-info" class="site-shopping-info" 
      type="site-shopping-info">
      <div class="container">
        <div class="info-slide">
          <h2>Elige cómo pagar</h2>
          <p><span>Con ShopyCountGX, paga con tus tarjetas de débito y crédito. 
            Paga siempre desde ShopyCounGX
             para que podamos asegurar tu dinero.</span> </p>
            </div>
            <div class="info-slide">
              <h2>En la Variedad esta el Gusto</h2>
              <p><span>Con solo estar registrado en ShopyCountGX, 
                podras comprar una variedad de cuentas de todas las plataformas</span> </p>
                </div>
                <div class="info-slide">
                    <h2>Compra Protegida</h2>
                    <p><span>Completa tus compras en ShopyCountGX para que estén siempre protegidas. 
                      Si cuenta nno es lo que esperabas, te devolvemos tu dinero.</span> </p>
                    </div>
                  </div>
                </section>
    

      <script src="{% static 'Shopy/js/card.js'%}"> </script>
      <script src="{% static 'Shopy/js/index.js'%}"></script>
      {% include "footer.html" %}
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>
