{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Shopy/css/main.css'%}">
    <script src="{% static 'Shopy/js/card.js'%}"> </script>
    <title>Menu</title>
</head>
<body>

    {% include "navbar.html" %}

    <div class="container-fluid">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                
          <div class="carousel-inner">
      
            <div class="carousel-item active">
              <img src="{% static 'Shopy/img/Carusel/Carusel1.png'%}" class="d-block cr_height" alt="..." >
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel2.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel3.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel4.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel5.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy\img\Carusel\Carusel6.png' %}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel7.png'%}" class="d-block cr_height" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Shopy/img/Carusel/Carusel8.png'%}" class="d-block cr_height" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    
        </div>
      </div>
    
    
      <div class="container-fluid pad_top">
        <div class="row">
    
          <div class="col-12 col-md-4 justify-content-center">
            <div class="card bg_wh">
              <img src="{% static 'Shopy/img/CardsMain/micro.png'%}" class="img_crd"alt="Card Back">
              <div class="card-content">
              <form action="venta.html">
              <button class="btn" name="num" value="7">Buscar Cuentas de Microsoft</button>
            </form>
          </div>
            </div>
          </div>
          <div class="col-12 col-md-4 justify-content-center">
            <div class="card bg_wh">
              <img src="{% static 'Shopy/img/CardsMain/steam.png' %}"class="img_crd"alt="Card Back">
              <div class="card-content">
                <form action="venta.html">
                <button class="btn" name="num" value="1">Buscar Cuentas de Steam</button>
              </form>
            </div>
          </div>
          </div>
          <div class="col-12 col-md-4 justify-content-center">
            <div class="card bg_wh">
              <img src="{% static 'Shopy/img/CardsMain/riot.png'%}" class="img_crd"alt="Card Back">
              <div class="card-content">
                <form action="venta.html">
                <button class="btn" name="num" value="8"> 
                  Buscar Cuentas de Riot</button>
              </form>
            </div>
          </div>
          </div>
    
    
        </div>
        <div class="row">
    
          <div class="col-12 col-md-4 justify-content-center">
            <div class="card bg_wh">
              <img src="{% static 'Shopy/img/CardsMain/play.png'%}" class="img_crd"alt="Card Back">
                <form action="venta.html">
                  <div class="card-content">
                    <form action="venta.html">
                    <button class="btn" name="num" value="4"> Buscar Cuentas de PlayStation</button>
                  </form>
                </div>
              </form>
          </div>
          </div>
          <div class="col-12 col-md-4 justify-content-center">
            <div class="card bg_wh">
              <img src="{% static 'Shopy/img/CardsMain/switch.png'%}" class="img_crd1"alt="Card Back">
              <div class="card-content">
                <form action="venta.html">
                <button class="btn" name="num" value="6"> Buscar Cuentas de Switch</button>
              </form>
            </div>
          </div>
          </div>
          <div class="col-12 col-md-4 justify-content-center">
            <div class="card bg_wh">
              <img src="{% static 'Shopy/img/CardsMain/battlenet.jpg'%}" class="img_crd"alt="Card Back">
              <div class="card-content">
                <form action="venta.html">
                <button class="btn" name="num" value="9">Buscar Cuentas de Battle Net</button>
              </form>
            </div>
          </div>
          </div>
    
    
        </div>
      </div>
    
      <div class="container-fluid">
        <div class="row r_ll"></div>
      </div>

      <script src="{% static 'Shopy/js/card.js'%}"> </script>
      <script src="{% static 'Shopy/js/index.js'%}"></script>
      {% include "footer.html" %}
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>