{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Shopy/css/tienda.css'%}">
    <link rel="stylesheet" href="{% static 'Shopy/css/ventas_usu.css'%}">
    <link rel="stylesheet" href="{% static 'Shopy/css/cuadrado.css'%}">
    <script src="{% static 'Shopy/js/card.js'%}"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Tienda</title>
</head>
<body>
  <div id="mensaje">
    {% include 'mensaje.html' %}
  </div>

    {% include "navbar.html" %}


    <div id="prueba">

    </div>



    <div id="cuentas_usuario">
    {% include "cuentas_usu.html" %} 
  </div>


    <div class="menu_filtro">
      <div class="menu_bar">
              <a href="#" class="bt-menu" id="btn_c"></a>
          </div>
      <nav class="rightcol" id="nv">
  
  
    <div class="row sidebar_dis " style="display: block;">
      <div class="col-0 col-md-12">
        <div class="riglhtcol small responsive_local_menu autocollapse_enabled bg_filtro"> 
          <div class="block search_collapse_block">
            <select class="col-12 inp_form"  name="tipoCuenta" id="tipoCuenta">
              <option value="0" data-url="{% url 'cargarFiltro' id=0 %}" > Seleccionar</option>
              {% for tpc in tipoCuenta%}
              <option value="{{ tpc.id_tipo_cuenta }}" data-url="{% url 'cargarFiltro' id=tpc.id_tipo_cuenta %}" id="tpc.id_tipo_cuenta">
                {{ tpc.nom_tipo_cuenta }}
              </option>
          
              {% endfor %}
            </select>
          </div>
        </div>
    </div>
    </div>
  
    <div id="resultado-carac" class="pad-top">
      {% include "filtro_carac.html" %} 
  </div>
  
    
  
    <div class="row sidebar_dis " style="display: block;">
      <div class="col-0 col-md-12">
        <div class="riglhtcol small responsive_local_menu autocollapse_enabled bg_filtro"> 
          <div class="block search_collapse_block inp_form" id="opcionesCuenta" name="opciones">
  
          </div>
        </div>
    </div>
    </div>
  
    <div class="row sidebar_dis justify-content-center " style="display: block;">
      <div class="col-0 col-md-12">
        <div class="riglhtcol small responsive_local_menu autocollapse_enabled bg_filtro"> 
          <div class="block search_collapse_block inp_form btn_row">
              <button  type="button" id="btnF">
                Aplicar Filtro 
              </button>
          </div>
        </div>
    </div>
    </div>
  
  </nav>
  </div>
      
    
    <div id="cuenta">

      {% include "cuentas_vender.html" %}

    </div>
    
    <div class="contenedor_cuenta">
      <div class="row btn_centrar_row" id="btnPag">
        <!--
        <div class="col-12 col-md-3"> <button class="btn_size_c" id="prev">Atras</button></div>
        <div class="col-12 col-md-3"> <button class="btn_size_c" id="next">Siguiente</button></div>
        -->
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row r_ll" id="mrg_pg"></div>
    </div>
    
    <script src="{% static 'Shopy/js/card.js'%}"> </script>
    <script src="{% static 'Shopy/js/carro.js'%}"></script>
    <script src="{% static 'Shopy/js/caracs.js'%}"></script>
    <script src="{% static 'Shopy/js/cargarURLS.js'%}"></script>
    <script>
      $(document).ready(main);
  
      var contador = 1;
  
      function main() {
        $('.menu_bar').click(function() {
          if (contador == 1) {
            $('#nv').animate({
              right: '0'
            });
            $('#l').css('display', 'block');
            contador = 0;
          } else {
            contador = 1;
            $('#nv').animate({
              right: '-100%'
            });
            $('#l').css('display', 'none');
          }
        });
      }
    </script>

    <script src="{% static 'Shopy/js/tienda.js'%}"></script>
    <script src="{% static 'Shopy/js/caracsCarro.js'%}"></script>
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

   
</body>
</html>
