* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

body{
    background-color: #202220;
    color: #6C1CED;
}

.img_size{
    width: 60%;
    height: 60%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnImg {

    width: 250px !important;
    height: 100px !important;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px !important;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgba(7, 35, 39, 0.9);
    border-radius: 3px;
    border-color: rgba( 104, 157, 221, 1 );
    align-content: end;
}


#opcionesCuentaContainer {
    display: none;
  }

.pad-row{
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.pad-top{
    padding-top: 30px;
}

.pad-bot-opt{
    padding-bottom: 15px;
}

.pad-side{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    background-color: rgba( 130, 130, 200, 1 );
    color: black;
    height: 1.7em;
}


.js_center {
    justify-content: center!important;
    display: flex;
}

.inp_form{
    border: 5px solid #0FAAD6;
    border-radius: 8px;
    background-color: #0FAAD6;
    padding-left: 0px !important;
}

textarea{
    resize: none;
}

textarea:focus, input:focus {
    outline: 5px solid rgba( 130, 130, 200, 1 );
}

.wh{
    color: white !important;
}

h3{
    text-align: center;
}

.hidden{
    display: none;
}

.rigth{
    text-align: end;
}

.r_lbl{
    text-align: end;
    right: 30px;
    position: relative;
}

.r_area{
    text-align: center;
    right: 30px;
    position: relative;
}

@media (max-width:768px) {
    .r_lbl{
        text-align: center;
        right: 0;
        position: relative;
    }
    .r_area{
        text-align: center;
        right: 0px;
        position: relative;
    }
}



.load{
    animation-name: show;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.reload{
    animation-name: reshow;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes show {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
        ;
    }
}

@keyframes reshow {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
        ;
    }
}

.loadextra{
    animation-name: showExtra;
    animation-duration: 2s;
    animation-timing-function: linear;
}


.reloadextra{
    animation-name: reshowExtra;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes reshowExtra {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
        ;
    }
}

@keyframes showExtra {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
        ;
    }
}

#info_extra {
    height: 200px;
}

.loadextratxt{
    animation-name: showExtratxt;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.reloadextratxt{
    animation-name: reshowExtratxt;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes showExtratxt {
    0% {
        height: 0;
    }
    100% {
        height: 200px;
        ;
    }
}

@keyframes reshowExtratxt {
    0% {
        height: 0;
    }
    100% {
        height: 200px;
        ;
    }
}