
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="contenedor-cuentas">
        <div class="div-nav">
          <a href="#">
          <div class="ventas float-start">
           Mis compras
        </div>
      </a>
    
      <a href="{% url 'tienda' %}">
        <div class="ventas float-end">
          Tienda
        </div>
      </a>
        </div>
      </div>


    {% if contenido %}


  
    <div class="contenedor-cuentas" id="cuentas_carro" >
  
      
      <div class="row mb-3">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Cuenta</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Caracteristica</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Precio</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Eliminar</th>
  
            </tr>
          </thead>
          {% for con in contenido %}
          <tr>
            <td>
              <div style="display: flex; flex-direction: row; align-items: center;">
                <img src="{% static 'Shopy/img/cuenta_icon/icon' %}{{ con.cuenta.id_tipo_cuenta.id_tipo_cuenta }}.png" class="" style="margin-right: 10px;">
               <a style="margin: 0;" href="{% url 'cuenta' id=con.cuenta.id %}"><strong>Cuenta {{ con.cuenta.id_tipo_cuenta.nom_tipo_cuenta}}</strong></a>
              </div>
          </td>
          <td style="text-align: center; vertical-align: middle;">           
              {% if con.cuenta.carac_desc == "Ninguna" %}
              Ninguna
              {% else %}
  
              {{ con.cuenta.carac_desc }}
              {{ con.cuenta.carac_valor }}
  
  
            {% endif %}</td>
            <td style="text-align: center; vertical-align: middle;">$ {{ con.cuenta.precio }}</td>
            <td style="text-align: center; vertical-align: middle;">
              <a href="#" data-url="{% url 'eliminarDelCarro' id=con.cuenta.id %}" onclick="eliminarDelCarro(event, this.getAttribute('data-url'))"><img src="{% static 'Shopy/img/eliminar.png' %}" alt="" width="50px"></a>
            </td>
          </tr>
  
          {% endfor %}
        </table>
      </div>
  
      
  
    </div>

    {% else %}

    Sin Contenido

    {% endif %}


</body>
</html>