
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>





    <div  id="comprar" class="row" style="    justify-content: center !important;
    text-align: center;"><label style="color: white; font-size: 25px;"> {{comprar}}</label></div>
  

  {% if comprar %}

  {% else %}


    {% if contenido %}

    <div class="contenedor-cuentas" id="barra">
      <div class="div-nav">
        <a href="#">
        <div class="ventas float-start">
         Mis compras
      </div>
    </a>
  
    <a href="{% url 'tienda' %}">
      <div class="ventas float-end">
        Tienda
      </div>
    </a>
      </div>
    </div>

  <div class="menu_filtro" id="filtros">
      <div class="menu_bar">
              <a href="#" class="bt-menu" id="btn_c"></a>
          </div>
      <nav class="rightcol mfl" id="nv" >
  
  
    <div class="row sidebar_dis " style="display: block;">
      <div class="col-0 col-md-12">
        <div class="riglhtcol small responsive_local_menu autocollapse_enabled bg_filtro"> 
          <div class="block search_collapse_block">
            <p class="titulo" style="margin-top: 30px;">Total a pagar: <p class="texto">${{total.total}} </p></p>
            <p class="titulo">Tipos de cuentas a comprar: <p class="texto">{{stringTipos}} </p></p>

            <div class="boton_pagar">
            <button  onclick="mostrarConfirmacion(event, 'pag')">
              Pagar
            </button>
            <div class="encima" name = "pag" id="encimapag" data-panel="{'focusable':true,'clickOnActivate':true}"
            onclick="cerrarConfirmacion(this.getAttribute('name'))"> 
            <div id="confirmacionpag" class="confirmacion confiCar" style="display: none;"
            data-panel="{'focusable':true}">
              <p>Confime que comprara lo del carro</p>
              <p>Que tendra un total de: ${{total.total}}</p>
              <div class="button-container">
              <button data-url="{% url 'comprar' %}" onclick="comprar(this.getAttribute('data-url'))">Confirmar</button>
              <button name = "pag" onclick="cerrarConfirmacion(this.getAttribute('name'))">Cancelar</button>
            </div>
            </div>
          </div>
          </div>

          </div>
        </div>
    </div>
    </div>
  </nav>
</div>

  
    <div class="contenedor_cuenta" id="cuentas_carro" >
  
      
      <div class="row mb-3">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Cuenta</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Caracteristica</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Precio</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Eliminar</th>
  
            </tr>
          </thead>
          {% for con in contenido %}
          <tr>
            <td>
              <div style="display: flex; flex-direction: row; align-items: center;">
                <img src="{% static 'Shopy/img/cuenta_icon/icon' %}{{ con.cuenta.id_tipo_cuenta.id_tipo_cuenta }}.png" class="" style="margin-right: 10px;">
               <a style="margin: 0;" href="{% url 'cuenta' id=con.cuenta.id %}"><strong>Cuenta {{ con.cuenta.id_tipo_cuenta.nom_tipo_cuenta}}</strong></a>
              </div>
          </td>
          <td style="text-align: center; vertical-align: middle;">           
              {% if con.cuenta.carac_desc == "Ninguna" %}
              Ninguna
              {% else %}
  
              {{ con.cuenta.carac_desc }}
              {{ con.cuenta.carac_valor }}
  
  
            {% endif %}</td>
            <td style="text-align: center; vertical-align: middle;">$ {{ con.cuenta.precio }}</td>
            <td style="text-align: center; vertical-align: middle;">
              <a href="#" class="click" id = "{{con.cuenta.id}}" onclick="mostrarConfirmacion(event, this.getAttribute('id'))"><img src="{% static 'Shopy/img/eliminar.png' %}" alt="" width="50px"></a>
            </td>
          </tr>

          <div class="encima" name = {{con.cuenta.id}} id="encima{{con.cuenta.id}}" data-panel="{'focusable':true,'clickOnActivate':true}"
          onclick="cerrarConfirmacion(this.getAttribute('name'))"> 
          <div id="confirmacion{{con.cuenta.id}}" class="confirmacion" style="display: none;"
          data-panel="{'focusable':true}">
            <p>Eliminar cuenta: {{con.cuenta.id_tipo_cuenta.nom_tipo_cuenta}} </p>
            <p>Precio: {{con.cuenta.precio}}</p>
            <div class="button-container">
            <button data-url="{% url 'eliminarDelCarro' id=con.cuenta.id %}" onclick="eliminarDelCarro(event, this.getAttribute('data-url'))">Sí</button>
            <button name = '{{con.cuenta.id}}' onclick="cerrarConfirmacion(this.getAttribute('name'))">No</button>
          </div>
          </div>
        </div>

        

          {% endfor %}
        </table>
      </div>
  
      
  
    </div>

    {% else %}



    
    <div class="row" style="    justify-content: center !important;
    text-align: center;"><label style="color: white; font-size: 25px;">El carro esta vacio</label></div>
  
    <div style="height: 200px;"></div>
  
    

    {% endif %}
    {% endif %}

    <script>
      $(document).ready(main);
  
      var contador = 1;
  
      function main() {
        $('.menu_bar').click(function() {
          if (contador == 1) {
            $('#nv').animate({
              right: '0'
            });
            $('#l').css('display', 'block');
            contador = 0;
          } else {
            contador = 1;
            $('#nv').animate({
              right: '-100%'
            });
            $('#l').css('display', 'none');
          }
        });
      }
    </script>

</body>
</html>
