{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% if cuentas_usu %}

    <div class="contenedor-cuentas">
      <div class="div-nav">
        <a href="#">
        <div class="ventas float-start">
         Mis Anuncios Activos
      </div>
    </a>
  
    <a href="{% url 'vender' %}">
      <div class="ventas float-end">
        Vender
      </div>
    </a>
      </div>
    </div>
  
    <div class="contenedor-cuentas" id="cuenta_usu" >
  
      
      <div class="row mb-3">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Cuenta</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Caracteristica</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Precio</th>
              <th scope="col" style="text-align: center; vertical-align: middle;">Eliminar</th>
  
            </tr>
          </thead>
          {% for c in cuentas_usu %}
          <tr>
            <td>
              <div style="display: flex; flex-direction: row; align-items: center;">
                <img src="{% static 'Shopy/img/cuenta_icon/icon' %}{{ c.id_tipo_cuenta.id_tipo_cuenta }}.png" class="" style="margin-right: 10px;">
               <a style="margin: 0;" href="{% url 'cuenta' id=c.id %}"><strong>Cuenta {{ c.id_tipo_cuenta.nom_tipo_cuenta}}</strong></a>
              </div>
          </td>
          <td style="text-align: center; vertical-align: middle;">           
              {% if c.carac_desc == "Ninguna" %}
              Ninguna
              {% else %}
  
              {{ c.carac_desc }}
              {{ c.carac_valor }}
  
  
            {% endif %}</td>
            <td style="text-align: center; vertical-align: middle;     bottom: -8px;
            position: relative;">
              $ <p class='moneda' data-valor-original="{{c.precio}}" style="display: inline-block;">{{c.precio}}</p>
            </td>
            <td style="text-align: center; vertical-align: middle;">
              <a href="#" id = "{{c.id}}" onclick="mostrarConfirmacion(event, this.getAttribute('id'))"><img src="{% static 'Shopy/img/eliminar.png' %}" alt="" width="50px"></a>
            </td>
          </tr>

          <div class="encima" name = {{c.id}} id="encima{{c.id}}" data-panel="{'focusable':true,'clickOnActivate':true}"
          onclick="cerrarConfirmacion(this.getAttribute('name'))"> 
          <div id="confirmacion{{c.id}}" class="confirmacion" style="display: none;"
          data-panel="{'focusable':true}">
            <p>Eliminar cuenta: {{c.id_tipo_cuenta.nom_tipo_cuenta}} </p>
            <p style="display: inline-block;">Precio: $<p class='moneda' data-valor-original="{{c.precio}}" style="display: inline-block;">{{c.precio}}</p></p>
            <div class="button-container">
            <button data-url="{% url 'eliminarCuenta' id=c.id %}" onclick="eliminarCuenta(event, this.getAttribute('data-url'))">Sí</button>
            <button name = '{{c.id}}' onclick="cerrarConfirmacion(this.getAttribute('name'))">No</button>
          </div>
          </div>
        </div>

          {% endfor %}
        </table>
      </div>
  
      
  
    </div>
    {% endif %}
    
</body>
</html>
