{% load static %}
<!DOCTYPE html>
<html>
  <head>  

    

  <link rel="stylesheet" href="{% static 'Shopy/css/navbar.css'%}">
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary nv_bg">
        <div class="container-fluid nv_bg">
          <a class="navbar-brand" href="index.html"><img src="{% static 'Shopy/img/log2rmin.png'%}" alt="" height="55"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tienda
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="venta.html">Buscar</a></li>
                  <li><a class="dropdown-item" href="carro.html">Ver Carro</a></li>
                  <li><a class="dropdown-item" href="formulario_cuenta.html">Vender</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cuenta
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="cuenta_2.html">Ver cuenta</a></li>
                  <li><a class="dropdown-item" href="#">Historial Compras</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                  <li><a class="dropdown-item" href="registro.html">Crear Cuenta</a></li>
                </ul>
              </li>
    
    
            </ul>
    
            <form action="iniciodesesion.html">
            <div class="btn_div">
            <button class="btn_ini_s" type="submit">Iniciar Sesion</button>
          </div>
        </form>
            <a class="navbar-brand" href="carro.html"><img src="{% static 'Shopy/img/carro.png'%}" alt="" height="55"></a>
    
          </div>
        </div>
      </nav>

    </body>
</html>